@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="contractInfoForm">

            <input type="hidden" id="id" value="${contract.id}">
            <input type="hidden" id="user_id" value="${contract.user_id}">
            <input type="hidden" id="contentVal" value="${contract.content}">

            <div class="row">
                <div class="col-sm-12">


                    <div class="form-group">
                        <label class="col-sm-1 control-label">客户姓名</label>
                        <div class="col-sm-11">
                            <input class="form-control" disabled="disabled" id="customer" name="customer" type="text" value="${contract.customer}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">物业名称</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="company" name="company" type="text" value="${contract.company}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">签订时间</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="create_date" name="create_date" type="date" value="${contract.create_date}">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">合同状态</label>
                        <div class="col-sm-11">
                            <select class="form-control" id="status" name="status" underline="true" onchange="" >
                                <option value="0">请选择</option>
                                <option value="0">履行</option>
                                <option value="2">过期</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">合同内容</label>
                        <div class="col-sm-11">
                            <div id="editor" class="editorHeight">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="content" name="提交" id="ensure" icon="fa-check" clickFun="ContractInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ContractInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor.js"></script>
<script src="${ctxPath}/static/modular/system/contract/contract_info.js"></script>
@}
