@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="contractInfoForm">

            <input type="hidden" id="id" value="">
            <input type="hidden" id="status" name="status" value="0">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">客户姓名</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="customer" name="customer" type="hidden">
                            <select class="form-control" id="user_id" name="user_id" underline="true" onchange="ContractInfoDlg.showUser()">
                                <option value="0">请选择</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">物业名称</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="company" name="conpany" type="text">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">签订时间</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="create_date" name="create_date" type="date">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">房屋选择</label>
                        <div class="col-sm-11">
                            <select class="form-control" id="h_id" name="h_id" underline="true" onchange="" >
                                <option value="0">请选择</option>
                            </select>

                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-1 control-label">租金价格</label>-->
                        <!--<div class="col-sm-11">-->
                            <!--<input class="form-control" id="price" name="price" type="text">-->

                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-1 control-label">合同内容</label>
                        <div class="col-sm-11">
                            <div id="editor" class="editorHeight">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="content" name="提交" id="ensure" icon="fa-check" clickFun="ContractInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ContractInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor.js"></script>
<script src="${ctxPath}/static/modular/system/contract/contract_info.js"></script>
@}
