@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>投诉管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="HouseTableToolbar" role="group">
                                <#button name="处理" icon="fa-plus" clickFun="TableVar.delete()" space="true"/>
                        </div>
                        <#table id="Table"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /**
     * 通知管理初始化
     */
    var TableVar = {
        id: "Table",	//表格id
        seItem: null,		//选中的条目
        table: null,
        layerIndex: -1
    };

    /**
     * 初始化表格的列
     */
    TableVar.initColumn = function () {
        return [
            {field: 'selectItem', radio: true},
            {title: 'id', field: 'id', visible: false, align: 'center', valign: 'middle'},
            {title: '标题', field: 'title', align: 'center', valign: 'middle', sortable: true},
            {title: '问题描述', field: 'content', align: 'center', valign: 'middle', sortable: true},
            {title: '紧急程度', field: 'important', align: 'center', valign: 'middle', sortable: true},
            {title: '日期', field: 'create_date', align: 'center', valign: 'middle', sortable: true},
            {title: '投诉人', field: 'name', align: 'center', valign: 'middle', sortable: true},
            {title: '手机号', field: 'phone', align: 'center', valign: 'middle', sortable: true},
            {title: '处理状态', field: 'status_str', align: 'center', valign: 'middle', sortable: true},
            {title: '备注', field: 'remark', align: 'center', valign: 'middle', sortable: true}
        ];
    };

    /**
     * 检查是否选中
     */
    TableVar.check = function () {
        var selected = $('#' + this.id).bootstrapTable('getSelections');
        if (selected.length == 0) {
            Feng.content("请先选中表格中的某一记录！");
            return false;
        } else {
            TableVar.seItem = selected[0];
            return true;
        }
    };



    /**
     * 删除通知
     */
    TableVar.delete = function () {
        if (this.check()) {

            var operation = function(){
                var ajax = new $ax(Feng.ctxPath + "/customer/complaint/delete", function (data) {
                    Feng.success("处理成功!");
                    TableVar.table.refresh();
                }, function (data) {
                    Feng.error("处理失败!" + data.responseJSON.message + "!");
                });
                ajax.set("houseId", TableVar.seItem.id);
                ajax.start();
            };

            Feng.confirm("确认已处理 "+TableVar.seItem.title+ "?", operation);
        }
    };

    /**
     * 查询列表
     */
    TableVar.search = function () {
        var queryData = {};
        queryData['condition'] = $("#condition").val();
        // alert($("#condition").val());
        TableVar.table.refresh({query: queryData});
    };

    $(function () {
        var defaultColunms = TableVar.initColumn();
        var table = new BSTable(TableVar.id, "/customer/complaint/list", defaultColunms);
        table.setPaginationType("client");
        TableVar.table = table.init();
    });

</script>
@}
