@layout("/common/_container.html"){

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="houseInfoForm">

            <input type="hidden" name="c_id" id="c_id" value="${house.c_id}">
            <input type="hidden" name="user_id" id="user_id" value="${house.user_id}">

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">姓名</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="name" name="name" type="text"  value="${house.name}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">性别</label>
                            <div class="col-sm-11" >
                                <select name="sex" id="sex" class="form-control" >
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">邮箱</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="email" name="email" type="text" value="${house.email}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">手机号</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="phone" name="phone" type="text" value="${house.phone}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">工作单位</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="work" name="work" type="text" value="${house.work}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">工作地址</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="work_address" name="work_address" type="text" value="${house.work_address}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">居住地址</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="live_address" name="live_address" type="text" value="${house.live_address}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">居住日期</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="live_date" name="live_date" type="date" value="${house.live_date}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">家庭成员</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="family" name="family" type="text" value="${house.family}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">车辆</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="car" name="car" type="text" value="${house.car}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">宠物</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="animal" name="animal" type="text" value="${house.animal}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">备注</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="remark" name="remark" type="text" value="${house.remark}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="content" name="提交" id="ensure" icon="fa-check" clickFun="HouseInfoDlg.editSubmit()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /**
     * 初始化通知详情对话框
     */
    var HouseInfoDlg = {
        houseInfoData: {},
        editor: null,
        validateFields: {
            title: {
                validators: {
                    notEmpty: {
                        message: '标题不能为空'
                    }
                }
            }
        }
    };

    /**
     * 设置对话框中的数据
     */
    HouseInfoDlg.set = function (key, val) {
        this.houseInfoData[key] = (typeof value == "undefined") ? $("#" + key).val() : value;
        return this;
    }
    /**
     * 关闭此对话框
     */
    HouseInfoDlg.close = function () {
        parent.layer.close(window.parent.TableVar.layerIndex);
    }
    /**
     * 清除数据
     */
    HouseInfoDlg.clearData = function () {
        this.houseInfoData = {};
    }
    /**
     * 收集数据
     */
    HouseInfoDlg.collectData = function () {
        this.set('c_id').set('user_id').set('name').set('sex').set('email').set('phone').set('work').set('work_address')
            .set('live_address').set('live_date').set('family').set('car').set('animal').set('remark');
    }
    /**
     * 提交修改
     */
    HouseInfoDlg.editSubmit = function () {
        this.clearData();
        this.collectData();


        //提交信息
        var ajax = new $ax(Feng.ctxPath + "/customer/update", function (data) {
            Feng.success("提交成功!");
            window.parent.TableVar.table.refresh();
            HouseInfoDlg.close();
        }, function (data) {
            Feng.error("提交失败!" + data.responseJSON.message + "!");
        });
        ajax.set(this.houseInfoData);
        ajax.start();
    }
</script>
@}









