@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>物业费用管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="HouseTableToolbar" role="group">
                                <#button name="添加" icon="fa-plus" clickFun="TableVar.openAddHouse()"/>
                                <#button name="修改" icon="fa-plus" clickFun="TableVar.openHouseDetail()" space="true"/>
                                <#button name="删除" icon="fa-plus" clickFun="TableVar.delete()" space="true"/>
                        </div>
                        <#table id="Table"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /**
     * 通知管理初始化
     */
    var TableVar = {
        id: "Table",	//表格id
        seItem: null,		//选中的条目
        table: null,
        layerIndex: -1
    };

    /**
     * 初始化表格的列
     */
    TableVar.initColumn = function () {
        return [
            {field: 'selectItem', radio: true},
            {title: 'id', field: 'id', visible: false, align: 'center', valign: 'middle'},
            {title: '费用名称', field: 'name', align: 'center', valign: 'middle', sortable: true},
            {title: '用途', field: 'useinfo', align: 'center', valign: 'middle', sortable: true},
            {title: '描述', field: 'content', align: 'center', valign: 'middle', sortable: true},
            {title: '价格', field: 'cost', align: 'center', valign: 'middle', sortable: true},
            {title: '添加日期', field: 'create_date', align: 'center', valign: 'middle', sortable: true}
        ];
    };

    /**
     * 检查是否选中
     */
    TableVar.check = function () {
        var selected = $('#' + this.id).bootstrapTable('getSelections');
        if (selected.length == 0) {
            Feng.content("请先选中表格中的某一记录！");
            return false;
        } else {
            TableVar.seItem = selected[0];
            return true;
        }
    };

    /**
     * 点击添加通知
     */
    TableVar.openAddHouse = function () {
        var index = layer.open({
            type: 2,
            title: '添加通知',
            area: ['800px', '420px'], //宽高
            fix: false, //不固定
            maxmin: true,
            content: Feng.ctxPath + '/cost/add'
        });
        this.layerIndex = index;
    };

    /**
     * 打开查看通知详情
     */
    TableVar.openHouseDetail = function () {
        if (this.check()) {
            var index = layer.open({
                type: 2,
                title: '通知详情',
                area: ['800px', '420px'], //宽高
                fix: false, //不固定
                maxmin: true,
                content: Feng.ctxPath + '/cost/update/' + TableVar.seItem.id
            });
            this.layerIndex = index;
        }
    };

    /**
     * 删除通知
     */
    TableVar.delete = function () {
        if (this.check()) {

            var operation = function(){
                var ajax = new $ax(Feng.ctxPath + "/cost/delete", function (data) {
                    Feng.success("删除成功!");
                    TableVar.table.refresh();
                }, function (data) {
                    Feng.error("删除失败!" + data.responseJSON.message + "!");
                });
                ajax.set("houseId", TableVar.seItem.id);
                ajax.start();
            };

            Feng.confirm("是否删除 " + TableVar.seItem.name + "?", operation);
        }
    };

    /**
     * 查询通知列表
     */
    TableVar.search = function () {
        var queryData = {};
        queryData['condition'] = $("#condition").val();
        // alert($("#condition").val());
        TableVar.table.refresh({query: queryData});
    };

    $(function () {
        var defaultColunms = TableVar.initColumn();
        var table = new BSTable(TableVar.id, "/cost/list", defaultColunms);
        table.setPaginationType("client");
        TableVar.table = table.init();
    });

</script>
@}
