@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="houseInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">房屋描述</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="house_desc" name="house_desc" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">房屋类型</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="house_model" name="house_model" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">房屋面积</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="house_area" name="house_area" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">房屋楼层</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="house_floor" name="house_floor" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">房号</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="house_code" name="house_code" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">租售方式</label>
                        <div class="col-sm-11">
                            <select class="form-control" id="status" name="status">
                                <option value="1">待租</option>
                                <option value="2">待售</option>
                            </select>
<!--                            <input class="form-control" id="house_type" name="house_type" type="text">-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">价格</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="house_price" name="house_price" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">地址</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="house_address" name="house_address" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">楼号</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="community_name" name="community_name" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">房屋朝向</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="house_oriented" name="house_oriented" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">发布时间</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="create_date" name="create_date" type="date">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="content" name="提交" id="ensure" icon="fa-check" clickFun="HouseInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="HouseInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/house/house_info.js"></script>
@}
