@layout("/common/_container.html"){

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="houseInfoForm">

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">业主姓名</label>
                                <div class="col-sm-11">
                                    <select class="form-control" id="u_id" name="u_id" underline="true" onchange="HouseInfoDlg.showUser()">
                                        <option value="0">请选择</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">邮箱</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="email" name="email" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">手机号</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="phone" name="phone" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">房屋描述</label>
                                <div class="col-sm-11">
                                    <select class="form-control" id="id" name="id" underline="true" onchange="HouseInfoDlg.showHouse()">
                                        <option value="0">请选择</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">房屋类型</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="house_model" name="house_model" type="text"  value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">房屋面积</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="house_area" name="house_area" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">房屋楼层</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="house_floor" name="house_floor" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">房号</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="house_code" name="house_code" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">租售方式</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="house_type" name="house_type" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">价格</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="house_price" name="house_price" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">地址</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="house_address" name="house_address" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">楼号</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="community_name" name="community_name" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">房屋朝向</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="house_oriented" name="house_oriented" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">发布时间</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="create_date" name="create_date" type="date" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">租赁时间</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="buy_date" name="buy_date" type="date" value="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="content" name="提交" id="ensure" icon="fa-check" clickFun="HouseInfoDlg.editSubmit()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /**
     * 初始化通知详情对话框
     */
    var HouseInfoDlg = {
        houseInfoData: {},
        editor: null,
        validateFields: {
            title: {
                validators: {
                    notEmpty: {
                        message: '标题不能为空'
                    }
                }
            }
        }
    };

    /**
     * 设置对话框中的数据
     */
    HouseInfoDlg.set = function (key, val) {
        this.houseInfoData[key] = (typeof value == "undefined") ? $("#" + key).val() : value;
        return this;
    }
    /**
     * 关闭此对话框
     */
    HouseInfoDlg.close = function () {
        parent.layer.close(window.parent.TableVar.layerIndex);
    }
    /**
     * 清除数据
     */
    HouseInfoDlg.clearData = function () {
        this.houseInfoData = {};
    }
    /**
     * 收集数据
     */
    HouseInfoDlg.collectData = function () {
        this.set('id').set('u_id').set('name').set('email').set('phone').set('house_desc').set('house_code')
            .set('house_model').set('house_area').set('house_floor').set('house_type').set('house_price')
            .set('house_address').set('community_name').set('house_oriented').set('create_date').set('buy_date');

    }
    HouseInfoDlg.showUser = function () {
        var id = document.getElementById('u_id').value;
        var ajax = new $ax(Feng.ctxPath + "/mgr/view/"+id, function(data) {
            document.getElementById('email').value = data['email'];
            document.getElementById('phone').value = data['phone'];
        }, function(data) {
            Feng.error("加载ztree信息失败!");
        });
        ajax.start();
    };
    HouseInfoDlg.showHouse = function () {
        var id = document.getElementById('id').value;
        var ajax = new $ax(Feng.ctxPath + "/house/view/"+id, function(data) {
            document.getElementById('house_code').value = data['house_code'];
            document.getElementById('house_model').value = data['house_model'];
            document.getElementById('house_area').value = data['house_area'];
            document.getElementById('house_floor').value = data['house_floor'];
            document.getElementById('house_type').value = data['house_type'];
            document.getElementById('house_price').value = data['house_price'];
            document.getElementById('house_address').value = data['house_address'];
            document.getElementById('community_name').value = data['community_name'];
            document.getElementById('house_oriented').value = data['house_oriented'];
            document.getElementById('create_date').value = data['create_date'];
        }, function(data) {
            Feng.error("加载ztree信息失败!");
        });
        ajax.start();
    };
    /**
     * 提交修改
     */
    HouseInfoDlg.editSubmit = function () {
        this.clearData();
        this.collectData();


        //提交信息
        var ajax = new $ax(Feng.ctxPath + "/house/rentadd", function (data) {
            Feng.success("提交成功!");
            window.parent.TableVar.table.refresh();
            HouseInfoDlg.close();
        }, function (data) {
            Feng.error("提交失败!" + data.responseJSON.message + "!");
        });
        ajax.set(this.houseInfoData);
        ajax.start();


    }

    $(function () {
        //设置业主信息和房屋信息
        var ajax = new $ax(Feng.ctxPath + "/mgr/list2", function(data) {
            for(var i=0; i<data.length;i++){ //循环添加多个值
                $("#u_id").append("<option value='"+data[i]['id']+"'>"+data[i]['name']+"</option>");
            }
        }, function(data) {
            Feng.error("加载ztree信息失败!");
        });
        ajax.start();
        ajax = new $ax(Feng.ctxPath + "/house/liststatus?status=1", function(data) {
            for(var i=0; i<data.length;i++){ //循环添加多个值
                $("#id").append("<option value='"+data[i]['id']+"'>"+data[i]['house_desc']+"</option>");
            }
        }, function(data) {
            Feng.error("加载ztree信息失败!");
        });
        ajax.start();


    });
</script>
@}









